<html>
<head>
</head>
<body>
</body>
<script type="text/javascript">


function getDogs(dogname, networdReq) {
    return networdReq(`https://dogss.herokuapp.com/dogs?q=${dogname}`)
}
function fetchReq(url) {
    return fetch(url).then(resp => resp.json());
}

// getDogs('husky', fetchReq).then((data) => {
//     console.log(data);
// });

// function fakeNetReq() {
//     return Promise.resolve([
//         {
//             breed: 'husky',
//             id: 69,
//         },
//     ]);
// }

// getDogs('bob', fakeNetReq).then((data) => {
//     console.log(data);
// });

function getHuskies(dogName, cb) {
    console.log(dogName);
    return fetch('https://dogss.herokuapp.com/dogs?q=husky')
        .then(resp => resp.json())
        .then(cb);;
}

function getPoodles(dogName, cb) {
    console.log(dogName);
    return fetch('https://dogss.herokuapp.com/dogs?q=poodle')
        .then(resp => resp.json())
        .then(cb)
}

function getRetrievers(dogName, cb) {
    console.log(dogName);
    return fetch('https://dogss.herokuapp.com/dogs?q=retriever')
        .then(resp => resp.json())
        .then(cb)
}

// getRetrievers('sometypadog', (data) => console.log(data));


function wrapDogs(...fns) {
    const results = [];
    let counter = 0;
    return function(dogName, callback) {
        fns.forEach((fn) => {
            const p = fn(dogName);
            results.push(p);
            // fn(dogName, (data) => {
            //     results.push(...data);
            //     counter++;
            //     if (counter === fns.length) {
            //         callback(results);
            //     }
            // });
        });
        Promise.all(results).then((data) => {
            // console.log(data);
            return data.reduce((acc, cur) => {
                acc.push(...cur);
                return acc;
            }, []);
        }).then(callback);
    }
}

const wrapperFn = wrapDogs(getRetrievers, getPoodles, getHuskies);

wrapperFn('some dog name', (data) => {
    console.log(data);
})

// const a = [[1,3], [4,5],[6,7]];
// const b = a.reduce((acc, cur) => {
//     acc.push(...cur);
//     return acc;
// }, [])

</script>
</html>
