<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>W00f</title>
</head>
<body>
<p>search fom some dogs</p>
<input type="text" placeholder="woof" class="search-dogs">
<ul class="results"></li>
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', init);

let resultsEl;

function init() {
    const dogsSearchEl = document.querySelector('.search-dogs');
    resultsEl = document.querySelector('.results');
    dogsSearchEl.addEventListener('keyup', debounce(searchDogs, 500));
}

let p;
let dogKeys = {};

function searchDogs(e) {
    p = p || fetch(`/dogs?q=`).then((resp) => {
        const json = resp.json();
        return json;
    }).then((data) => {
        return data.reduce((acc, cur) => {
            acc[cur.breed] = cur;
            return acc;
        }, {})
    })

    p.then((data) => {
        console.log(data);
        // renderDogs(data.filter((dog) => {
        //     return dog.breed.toLowerCase().includes(e.target.value);
        // }));
    });

}

function renderDogs(dogs, text) {
    resultsEl.innerHTML = '';
    const f = document.createDocumentFragment();
    dogs.filter(specificDog => {
        const dog = document.createElement('li');
        dog.textContent = specificDog.breed;
        f.appendChild(dog);
    });
    resultsEl.appendChild(f);
}

function debounce(fn, delay) {
    let timeout;
    return function(e) {
        if (timeout) {
            clearTimeout(timeout);
        }
        timeout = setTimeout(() => {
            fn.call(this, e);
        }, delay);
    }
}


</script>
</body>
</html>
